@using CodeGarten.Data.Model
@model Container
@{
    var owner = Model.Prototype.Structure.Administrators.Select(a => a.Name).Contains(User.Identity.Name);
}

<div id="child_tabs" class="tabs">
        <ul>
            @if (Model.Prototype.Childs.Count > 1)
            {
                <li><a href="#all">All</a></li>
            }
            @foreach (var cp in Model.Prototype.Childs)
            {
                <li><a href="#@cp.Name">@cp.Name</a></li>
            }
        </ul>
        @foreach (var cp in Model.Prototype.Childs)
        {
            <div id="@cp.Name">
                @{ var cp1 = cp; }
                @foreach (var container in Model.Childs.Where(c => c.Prototype.Name == cp1.Name))
                {
                    @Html.Partial("_ContainerItem", container)
                }
                @if (owner)
                {
                @Html.ActionLink("Create new", "Create", new { structureId = Model.Prototype.StructureId, prototypeName = cp1.Name, parent = Model.Id }, new { @class = "create_button" })
                }
                @*<div class="prototype">
                    <p>
                        About
                        <button>@cp.Name</button></p>
                    <div class="info">
                        Prototype info
                    </div>
                </div>*@
            </div>
        }
        @if (Model.Prototype.Childs.Count > 1)
        {
            <div id="all">
                @foreach (var container in Model.Childs)
                {
                    @Html.Partial("_ContainerItem", container)
                }
            </div>
        }
    </div>

<script type="text/javascript">
    $(".tabs").tabs();
    $(".create_button").button({ icons: { primary: "ui-icon-plus"} });
    
    $(".prototype .info").hide();
    $(".prototype button").button().click(function () {
        $(this).parent().next().slideToggle("fast");
    });
</script>