@using CodeGarten.Data.Access
@using CodeGarten.Data.Model
@model Container
@{
    var dbMan = Context.Items["DataBaseManager"] as DataBaseManager;

    var enrolled = dbMan.User.Get(User.Identity.Name).Enrolls.SingleOrDefault(e => e.ContainerId == Model.Id && !e.Inherited);
}
<div>
    <div id="container">
        <div class="top">
            <h1>@Model.Name</h1>
            <div class="actions">
                @(enrolled == null ?
                Html.ActionLink("Enroll", "Enroll", new { structureId = Model.Prototype.StructureId, containerId = Model.Id }, new { @class = "button" }) :
                Html.ActionLink("Disenroll", "Disenroll", new { structureId = Model.Prototype.StructureId, containerId = Model.Id }, new { @class = "button" }))
            </div>
        </div>
        @Html.Partial("_StructurePath", Model)
        @if (Model.Prototype.Childs.Any())
        {
            @Html.Partial("_Childs", Model)
        }
        @Html.Partial("_Workspaces", Model)
    </div>
</div>
<script type="text/javascript">
    $(".button").button();
</script>
