@using CodeGarten.Data.Access
@using CodeGarten.Data.Model
@model Container
@{
    var dbMan = (DataBaseManager)Context.Items["DataBaseManager"];

    var users = dbMan.User.GetAll().Where(u => u.Enrolls.Any(e => e.ContainerId == Model.Id));

    var enrolled = dbMan.User.Get(User.Identity.Name).Enrolls.SingleOrDefault(e => e.ContainerId == Model.Id && !e.Inherited);

    var description = Model.Description ?? "No description";
}
<div id="container_div">
    <div id="container">
        <h1>@Html.Partial("_StructurePath", Model)</h1>
        <div class="left_panel">
            <div class="info ui-corner-all ui-widget-content">
                <label>
                    Description:</label>
                @description
                <br />
                <label>
                    Prototype:</label>
                @Model.Prototype.Name
                <br />
                <label>
                    <a class="counter" href="javascript:Users()">@users.Count()</a></label>
                enrolled user(s)
                @if (enrolled != null)
                {
                    <text>Including you as </text><label>@enrolled.RoleTypeName</label>
                }
            </div>
            @Html.Partial("_Childs", Model)
            @Html.Partial("_Users", Model)
        </div>
        <div class="right_panel">
            @Html.Partial("_Actions", Model)
            @Html.Partial("_Workspaces", Model)
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".button").button();
    $(".delete_button").button({ icons: { primary: 'ui-icon-trash'} });

    $(".slide").click(function () {
        currentUrl = location.href;
        var nextUrl = this.href;
        SwitchContainer(nextUrl, function () {
            history.pushState(null, $("#container #structure_path .name").first().text(), nextUrl);
            $("head title").text("CodeGarten - " + $("#container #structure_path .name").first().text() + " @@ @Model.Prototype.Structure.Name");
        });
        return false;
    });
</script>
