@using CodeGarten.Data.Model
@model Container
@{
    ViewBag.Title = "Delete " + Model.Name;
    
    var safe = true;
}
<div id="delete_container_form" class="ui-widget">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="ui-widget-header ui-corner-top ui-state-default">
            <h2>
                Delete @Model.Name</h2>
        </div>
        <div class="ui-widget-content ui-state-highlight">
            <h3>@Model.Description</h3>
            @if (Model.Childs.Any())
            {
                <div>
                    Supporting <strong>@Model.Childs.Count</strong> container(s) <span class="ui-icon ui-icon-alert"
                        title="Unsafe to delete"></span>
                </div>
                safe = false;
            }
            else
            {
                <div>
                    Has no childs <span class="ui-icon ui-icon-check" title="Safe to delete"></span>
                </div>
            }
            @if ((ViewBag.EnrolledUsers as IQueryable<User>).Any())
            {
                <div>
                    Has <strong>@((ViewBag.EnrolledUsers as IQueryable<User>).Count())</strong> enrolled
                    user(s) <span class="ui-icon ui-icon-alert" title="Unsafe to delete"></span>
                </div>
                safe = false;
            }
            else
            {
                <div>
                    Has no enrolled users <span class="ui-icon ui-icon-check" title="Safe to delete">
                    </span>
                </div>
            }
            @if (!safe)
            {
                <div class="diagnose">
                    Diagnose: <strong>Not safe to delete</strong> <span class="ui-icon ui-icon-alert"
                        title="Unsafe to delete"></span>
                </div>
                <p>
                    <input type="submit" value="Delete anyway" />
                </p>
            }
            else
            {
                <div class="diagnose">
                    Diagnose: <strong>Safe to delete</strong> <span class="ui-icon ui-icon-check" title="Safe to delete">
                    </span>
                </div>
                <p>
                    <input type="submit" value="Delete" />
                </p>   
            }
        </div>
    }
</div>
