@using CodeGarten.Data.Access
@using CodeGarten.Data.Model
@model Container
@{
    ViewBag.Title = string.Format("Enroll in {0}", Model.Name);
    var dbMan = Context.Items["DataBaseManager"] as DataBaseManager;
    var distinctRoleTypeNames = Model.Prototype.Bindings.SelectMany(b => b.Roles).Select(r => r.RoleTypeName).Distinct();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h2>
    Enroll in @Model.Name</h2>
<div class="tabs">
    <ul>
        @foreach (var roleTypeName in distinctRoleTypeNames)
        {
            <li><a href="#@roleTypeName">@roleTypeName</a></li>   
        }
    </ul>
    @foreach (var roleTypeName in distinctRoleTypeNames)
    {
        <div id="@roleTypeName">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <input name="roleTypeName" value="@roleTypeName" type="hidden"/>
                if (dbMan.Container.HasPassword(Model.Prototype.StructureId, Model.Id, roleTypeName))
                {
                @Html.Label("password", "This roletype requires a password")
                @Html.Password("password")
                @Html.ValidationMessage("password")
                }
                else
                {
                @Html.Label("password", "This role type does not require a password.")
                }
                <p>
                    <input type="submit" value="Enroll" />
                </p>
            }
        </div>
    }
</div>
@Html.ActionLink("Back to " + @Model.Name, "Index", "Container", new { id = Model.Id }, new { @class = "back_button" })
<script type="text/javascript">
    $(".tabs").tabs();
    $(".back_button").button({ icons: { primary: "ui-icon-arrowthick-1-w"} });
</script>
