@{
    ViewBag.Title = "Help (Main Screen)";
}
<div class="title">
    <img src="@Url.Content("~/Content/themes/smoothness/images/Help.png")" alt="Structures" />
    <h2>
        Help - Main Screen</h2>
    <div class="clear">
    </div>
</div>
<div class="help_body">
    <p>
        The CodeGarten main screen displays some information (<strong>illustration 1</strong>).</p>
    <img src="@Url.Content("~/Content/themes/help/MainScreen.png")" alt="Structures" />
    <p>
        <strong>Illustration 1: Main Screen for a non authenticated user</strong></p>
    <p>
        From this page you can <strong>Login</strong> or <strong>Register</strong>.</p>
    <h2 id="signup">
        Signup</h2>
    <p>
        This option is available in the upper right corner (<strong>ilustration 2</strong>)
        and it's used for registering new users.
    </p>
    <img src="@Url.Content("~/Content/themes/help/SignupButton.png")" alt="Structures" />
    <p>
        <strong>Illustration 2: Signup button</strong></p>
    <p>
        The registration page constitues a form, where you fill your information including
        a password used for authentication.
    </p>
    <img src="@Url.Content("~/Content/themes/help/SignupForm.png")" alt="Structures" />
    <p>
        <strong>Illustration 3: Signup form</strong></p>
    <p>
        After filling the form, use the <strong>Create</strong> button to submit.</p>
    <div>
        <h2 id="login">
            Login</h2>
        <p>
            This option is available in the upper right corner (<strong>illustration 4</strong>)
            and it's used for authentication.
        </p>
        <img src="@Url.Content("~/Content/themes/help/SignupButton.png")" alt="Structures" />
        <p>
            <strong>Illustration 4: Login button</strong></p>
        <p>
            The authentication page constitutes a form where you enter your credentials.
        </p>
        <img src="@Url.Content("~/Content/themes/help/SignupForm.png")" alt="Structures" />
        <p>
            <strong>Illustration 5: Login form</strong></p>
        <p>
            After filling your information press the <strong>Login</strong> button to authenticate
            with CodeGarten.
        </p>
    </div>
</div>
