@model WorkSpaceType
@using CodeGarten.Data.Model;
<h2>
    Edit @Model.Name</h2>
@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "WorkspaceView.edit.OnSuccessCallBack", Url = "/WorkSpaceType/Edit?structureId=" + Request["structureId"] + "&name=" + Model.Name }))
{
    <h3>
        Services</h3>
    foreach (var service in Model.Services)
    {
    <label for="@service.Name">@service.Name</label>
    <input id="@service.Name" name="services" type="checkbox" value="@service.Name" checked="checked"/>
    }
    foreach (var service in (ViewBag.Services as IEnumerable<ServiceType>).Except(Model.Services))
    {
    <label for="@service.Name">@service.Name</label>
    <input id="@service.Name" name="services" type="checkbox" value="@service.Name"/>
    }
    
        <p>
        <input type="submit" value="Save" />
    </p>
}