@model CodeGarten.Web.Model.ContainerPrototypeView
         
<script src="@Url.Content("~/Content/Scripts/ErrorPlaceholder.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Content/scripts/Eventcontroller.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/FormDialog.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Content/Scripts/StructureController.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Content/Scripts/CodeGartenModel.js")" type="text/javascript" ></script>        
<script src="@Url.Content("~/Content/Scripts/StructureView.js")" type="text/javascript" ></script>
<script src="@Url.Content("~/Content/Scripts/DialogConfirmView.js")" type="text/javascript" ></script>

<script type="text/javascript">
    StructureModel.init(@ViewBag.structureId);
</script>

<div>
    <div id="container_structure" > </div>
		
    <div id="error_container_structure" ></div>
</div>   
<div id="form_containerPrototype" title="Create Container Prototype">
	@Html.Partial("_ContainerPrototypeCreateForm", Model)
</div>
		
<div id="dialog_confirm">
        
</div>

<script type="text/javascript">
    DialogConfirmView.init("#dialog_confirm")
    StructureView.init("#container_structure", "#form_containerPrototype", "#error_container_structure");
    StructureController.init();
</script>