@using CodeGarten.Data.Model
@model IEnumerable<Structure>
@{
    ViewBag.Title = "Structures";
}
<div class="title">
    <img src="@Url.Content("~/Content/themes/smoothness/images/Structures.png")" alt="Structures" />
    <h2>
        My Structures</h2>
    <div class="clear">
    </div>
    @Html.ActionLink("Create new", "Create",null, new{@class = "create_button"})
</div>
<div class="tabs">
    <ul>
        <li><a href="#active">Active (@Model.Count(s => !s.Developing))</a></li>
        <li><a href="#ud">Developing (@Model.Count(s => s.Developing))</a></li>
    </ul>
    <div id="active">
        @if (Model.Any(m => !m.Developing))
        {
            foreach (var structure in Model.Where(s => !s.Developing))
            {
                @Html.Partial("_StructureItem", structure)
            }
        }
        else
        {
            <p>Structures that have already been published will be shown here.</p>   
        }
    </div>
    <div id="ud">
        @if (Model.Any(m => m.Developing))
        {
            foreach (var structure in Model.Where(s => s.Developing))
            {
                @Html.Partial("_StructureItem", structure)
            }
        }
        else
        {
            <p>Structures that have not yet been published will be shown here.</p>   
        }
    </div>
</div>

<script type="text/javascript">
    $(".tabs").tabs();
    $(".create_button").button({ icons: { primary: "ui-icon-plus"} });
</script>
