@model IEnumerable<object>
@{
    ViewBag.Title = "Search";
}
<div class="search_title title">
    @if (TempData["Message404_Head"] != null)
    {
        <div class="customerror ui-widget-content ui-corner-all ui-state-highlight">
            <h1>@TempData["Message404_Head"]</h1>
            <h3>@TempData["Message404_Body"]</h3>
        </div>
    }
    <div class="name">
        <img src="@Url.Content("~/Content/themes/smoothness/images/Search.png")" alt="Structures" />
        <h2>
            Search</h2>
    </div>
    <div id="search_form">
        @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "Update", HttpMethod = "GET" }))
        {
            <div class="query">
                @Html.TextBox("search", null, new { autofocus = "autofocus", type = "search", placeholder = "Search for users, projects or structures..." })
                <input type="submit" value="Search" />
            </div>
        
            <div class="type">
                @Html.RadioButton("type", "user", new { id = "user" })
                @Html.Label("user", "User")
                @Html.RadioButton("type", "structure", new { id = "structure" })
                @Html.Label("structure", "Structure")
                @Html.RadioButton("type", "project", new { id = "project" })
                @Html.Label("project", "Project")
                @Html.RadioButton("type", "all", true, new { id = "all" })
                @Html.Label("all", "All")
            </div>
            <img src="@Url.Content("~/Content/themes/smoothness/images/loading.gif")" alt="Loading"/>
        }
    </div>
</div>
<div id="results">
    @if (Model != null)
    {
        @Html.Partial("_SearchResults", Model)
    }
    else
    {
        if (ViewBag.MixedSearch != null && ViewBag.MixedSearch)
        {
        @Html.Partial("_SearchAllResults")
        }
    }
</div>
<script type="text/javascript">
    $(".type").buttonset();

    $("form").ajaxStart(function () {
        $("#results").hide();
        $("#search_form img[alt=Loading]").fadeIn('fast');
    });
    $("form").ajaxStop(function () {
        $("#search_form img[alt=Loading]").fadeOut('fast', function () {
            $("#results").fadeIn('normal');
        });
    });

    $("#search_form img[alt=Loading]").hide();

    var Update = function (results) {
        $("#results").html(results);
        history.pushState(null, $("#search").val(), "?search=" + $("#search").val() + "&type=" + $("#search_form .type label[aria-pressed=true]").attr("for"));
    };
</script>
