@model CodeGarten.Web.Model.UserView

@{
    ViewBag.success = ViewBag.success ?? false;
}

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Ajax.BeginForm("ChangePassword", new AjaxOptions() { UpdateTargetId = "_EditPasswordForm" }))
{
    @Html.ValidationSummary(true)
            
    <div class="editor-hidden">
        <input type="hidden" name="Name" value=@Model.Name />
    </div>
     
    <div class="editor-label">
        @Html.Label("Current password")
    </div>
    <div class="editor-field">
        @Html.Password("currentPassword")
        @Html.ValidationMessage("currentPassword", "the current password is not correct")
    </div>
           
    <div class="editor-label">
        @Html.Label("New password")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="editor-label">
        @Html.Label("Confirm your new password")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PasswordConfirm)
        @Html.ValidationMessageFor(model => model.PasswordConfirm)
    </div>
    
    <p>
        <input type="submit" value="Save" />
    </p>
}

<script type="text/javascript">
    $('input[type = submit]').button();
</script>

@if (ViewBag.success) 
{ 
    <script type="text/javascript">
        success($("#_EditPasswordForm"));
    </script>
}