@model CodeGarten.Data.Model.User
@{
    ViewBag.Title = Model.Name;
}
<fieldset>
    <h2>@Model.Name</h2>
    <table width="100%">
        <tr>
            <td width="50%">
                <h5>
                    Your Structures (@Model.Structures.Count) @Html.ActionLink("New Structure", "Create", "Structure")</h5>
                @Html.Partial("_StructureTable", Model.Structures)
            </td>
            <td width="50%">
                <h5>
                    Enrolled projects (@Model.Enrolls.Count) @Html.ActionLink("Enroll in a new project", "Search", "Structure")</h5>
                @Html.Partial("_EnrollTable", Model.Enrolls)
            </td>
        </tr>
    </table>
</fieldset>
