@using CodeGarten.Data.Model
@{
    ViewBag.Title = "WorkSpace";
    string Src = Url.Action("Index", "Home", new { workspaceTypeName = ViewBag.WorkSpaceType.Name, structureId = ViewBag.StructureId, containerId = ViewBag.Container.Id, service = ViewBag.ServiceName });
}

<div id="main">
    <h1>
        @Html.ActionLink((string)ViewBag.Container.Name, "Index", "Container", new { id = ViewBag.Container.Id}, null)
        <text> /</text>
        @ViewBag.WorkSpaceType.Name        
    </h1>
    <span class="loading">
        <img src="@Url.Content("~/Content/themes/smoothness/images/loading.gif")" alt="Loading"/>
    </span>
    <div class="services">
        @foreach (ServiceType service in ViewBag.WorkSpaceType.Services)
        { 
            bool isChecked = service.Name == ViewBag.ServiceName;
            @Html.RadioButton("service", service.Name, isChecked, new { id = service.Name, onclick = "javascript:ReloadIframe('"+service.Name+"', '" + Url.Action("Index", "Home", new { workspaceTypeName = ViewBag.WorkSpaceType.Name, structureId = ViewBag.StructureId, containerId = ViewBag.Container.Id, service = service.Name }) + "', '" + Url.Action("Index", "WorkSpace", new { structureId = ViewBag.StructureId, containerId = ViewBag.Container.Id, workSpaceTypeName = ViewBag.WorkSpaceType.Name, serviceName = service.Name }) + "')" })
            
            @Html.Label(service.Name, service.Name)
        }
    </div>
</div>
<div class="iframe">
    <iframe src="@Src" onload="javascript:OnLoadIframe()" >
    </iframe>
</div>
<script type="text/javascript">
    $(".services").buttonset();

    onpopstate = function (event) {
        if (event.state != null) {
            Refreash(event.state.service, event.state.url);
            $(".services").buttonset();
        }
    }

    function Refreash(service, url) {
        $("#main_service>#main>.loading").append("<img src='@Url.Content("~/Content/themes/smoothness/images/loading.gif")' alt='Loading'/>");
        $("#main_service>.iframe>iframe").remove();
        $("#main_service>.iframe").append("<iframe src=\"" + url + "\" onload=\"javascript:OnLoadIframe()\"></iframe>");
        $("input[name=\"service\"]").removeAttr("checked");
        $("#" + service).attr({ checked: true });
    }

    function ReloadIframe(service, url, push) {
        if(hasHistory)
        {
            history.pushState({ url: url, service: service}, '', push);
            Refreash(service, url);
        }else
        {
            window.location = push;
        }
    }
    
    function OnLoadIframe() {
        var iframe = $("#main_service>.iframe>iframe");
        try
        {
           var height = $(iframe[0].contentWindow.document).height();
           // bug chrome -> not catch exception authorization denied
           iframe.height(height==null ? 1000 : height);
        }catch(e)
        {   
            iframe.height(1000);
        }
        $("#main_service>#main>.loading>img").remove();
    }

    var hasHistory = true;
    try
    {
        history.replaceState({ url: "@Src", service: "@ViewBag.ServiceName" }, '', location.href);
    }catch(e)
    {
        hasHistory = false;
    }
</script>