@model CodeGarten.Data.Model.ContainerPrototype
@{
    ViewBag.Title = Model.Name;
}
<fieldset>
    <h2>
        @Html.Partial("_ContainerProtoPath", Model)
    </h2>
    <h3>
        Workspaces (@Html.ActionLink("Create new", "Create", "WorkSpaceType", new { structureId = Model.StructureId, cpName = Model.Name }, null))</h3>
    <table>
        <tr>
            <th>
            </th>
            <th>
                Name
            </th>
        </tr>
        @foreach (var item in @ViewBag.WorkSpaces)
        {
            <tr>
                <td>
                    @if (Model.WorkSpaceTypes.Contains(item))
                    {
                        @Html.ActionLink("Remove", "RemoveWorkSpace", "ContainerPrototype", new { structureId = item.StructureId, workspaceName = item.Name, containerName = Model.Name }, null)
                    }
                    else
                    {
                        @Html.ActionLink("Add", "AddWorkSpace", "ContainerPrototype", new { structureId = item.StructureId, workspaceName = item.Name, containerName = Model.Name }, null)
                    }
                </td>
                <td>
                    @Html.ActionLink(item.Name as string, "Index", "WorkSpaceType", new { structureId = Model.StructureId, name = item.Name, cpName = Model.Name }, null)
                </td>
            </tr>
        }
    </table>
</fieldset>
