@model CodeGarten.Data.Model.ContainerPrototype
<ul>
    <li class="container">
        <p>@Html.ActionLink(Model.Name as string, "Index", "ContainerPrototype", new { structureId = Model.StructureId, name = Model.Name }, null)
            (
                @foreach (var workspace in Model.WorkSpaceTypes)
                { 
                    @Html.ActionLink(workspace.Name, "Index", "WorkSpaceType", new { structureId = Model.StructureId, name = workspace.Name, cpName = Model.Name }, null) <text> </text>
                }
                ) | @Html.ActionLink("Delete", "Delete", "ContainerPrototype", new { structureId = Model.StructureId, name = Model.Name }, null)
        </p>
        @foreach (var child in Model.Childs)
        {
            @Html.Partial("_DesignEditTree", child)
        }
        @Html.ActionLink("Add Child", "Create", "ContainerPrototype", new { structureId = Model.StructureId, parent = Model.Name }, null)
    </li>
</ul>
