@model CodeGarten.Web.Model.UserView

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
            
    <div class="editor-hidden">
        <input type="hidden" name="Name" value=@Model.Name />
    </div>
            
    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PasswordConfirm)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PasswordConfirm)
        @Html.ValidationMessageFor(model => model.PasswordConfirm)
    </div>
    
    <p>
        <input type="submit" value="Save" />
    </p>
}