<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <title>CodeGarten - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/smoothness/jquery-ui-1.8.14.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/jquery.loadmask.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/styling.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.14.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.loadmask.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="top">
        <div>
            @Html.ActionLink("CodeGarten", "Index", "Home")
            @{
                <div id="user_actions" class="ui-widget-header ui-state-default ui-corner-bottom">
                    @if (!User.Identity.IsAuthenticated)
                    {
                
                        @Html.ActionLink("Login", "Index", "Login")
                        @Html.ActionLink("Signup", "Index", "Signup")
                    }
                    else
                    {
                        @Html.ActionLink(User.Identity.Name, "Index", "User")
                        @Html.ActionLink("Logout", "Logout", "Login")
                    }
                </div>
            }
        </div>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="foot">
        <p>
            CodeGarten 2011
            <br />
            <a href="mailto:codegarten.1011@gmail.com">Contact Us</a>
        </p>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type=submit], input[type=button]").button();
            $("#user_actions").children().button();
        });
    </script>
</body>
</html>
