@using CodeGarten.Data.Model
@model Structure
@{
    var owner = Model.Administrators.Select(a => a.Name).Contains(User.Identity.Name);

    var createdSpan = DateTime.Now - Model.CreatedOn;
    var createdSpanString = createdSpan.Days == 0 ?
                            createdSpan.Hours == 0 ?
                            string.Format("{0} minutes ago", createdSpan.Minutes) :
                            string.Format("{0} hours ago", createdSpan.Hours) :
                            string.Format("{0} days ago", createdSpan.Days);
}
<div class="item">
    @{
        string description = Model.Description ?? "No description";
        string visibility = Model.Public ? "Public" : "Private";
    }
    <div class="actions">
        @if (owner)
        {
            @Html.ActionLink("Delete", "Delete", "Structure", new { id = Model.Id }, new { @class = "delete_button" })
        }
    </div>
    <h3 class="name">@Html.ActionLink(Model.Name, "Index", "Structure", new { id = Model.Id }, null)</h3>
    <div class="info">
        <p>
            Description: @description</p>
        <p>
            Created @createdSpanString (@Model.CreatedOn)</p>
        <p>
            Visibility: @visibility</p>
    </div>
</div>
<script type="text/javascript">
    $(".item .actions").buttonset();
    $(".delete_button").button("option", "icons", { primary: 'ui-icon-trash' });
    $(".item .actions").hide();
    $(".item").hover(function () { $(this).children(".actions").fadeIn('fast'); }, function () { $(this).children(".actions").fadeOut('fast'); });
</script>
