@using CodeGarten.Data.Model
@using CodeGarten.Web.Model
@model WorkSpaceTypeView
<h2>
    Create workspace type</h2>
@using (Ajax.BeginRouteForm("Default", new
{
    controller = "WorkSpaceType",
    action = "Create",
    structureId = Request.RequestContext.RouteData.Values["id"]
}, new AjaxOptions { OnSuccess = "WorkspaceView.create.OnSuccessCallBack" }))
{
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div>
        <h3>
            Services</h3>
        @if (ViewBag.Services != null)
        {
            foreach (var service in (IEnumerable<ServiceType>)ViewBag.Services)
            {
            <label for="@service.Name">@service.Name</label>
            <input id="@service.Name" name="services" type="checkbox" value="@service.Name" />
            }
        }
        else
        {
            <div>There are no available services</div>
        }
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
}