@{
    ViewBag.Title = "Structured collaborative development";
}
<div class="ui-widget">
    <div class="ui-widget-header ui-corner-top ui-state-default">
        <h2>
            Welcome to CodeGarten</h2>
    </div>
    <div class="ui-widget-content">
        <div id="auth_user_actions">
            <div class="action ui-corner-all ui-state-default" onclick='javascript:document.location = "@Url.Action("Index", "Search")/"'  title="Search for users, structures and projects" >
                <img src="@Url.Content("~/Content/themes/smoothness/images/Search.png")" alt="Search"/>
                <div>
                    Search</div>
            </div>
            <div class="action ui-corner-all ui-state-default"  onclick='javascript:document.location = "@Url.Action("Index", "Structure")/"' title="Manage your structures">
                <img src="@Url.Content("~/Content/themes/smoothness/images/Structures.png")" alt="Structures" />
                <div>
                    My Structures</div>
            </div>
            <div class="action ui-corner-all ui-state-default"  onclick='javascript:document.location = "@Url.Action("Enrolls", "User")/"' title="Manage your enrolled projects">
                <img src="@Url.Content("~/Content/themes/smoothness/images/Projects.png")" alt="Enrolls" />
                <div>
                    Enrolls</div>
            </div>
            <div class="action ui-corner-all ui-state-default" onclick='javascript:document.location = "@Url.Action("Index", "Profile")/"'  title="Edit your information">
                <img src="@Url.Content("~/Content/themes/smoothness/images/User.png")" alt="Profile" />
                <div>
                    Profile</div>
            </div>
            <div class="action ui-corner-all ui-state-default"  title="Learn more about how to use CodeGarten">
                <img src="@Url.Content("~/Content/themes/smoothness/images/Help.png")" alt="Help" />
                <div>
                    Help</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".action").hover(function () { $(this).toggleClass("ui-state-default").toggleClass("ui-state-highlight"); });
    });
</script>
